################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/1.2 TrajectorySimulation/.vs/1.2 TrajectorySimulation/v16/Server/sqlite3/storage.ide-shm
